.navbar {
  -webkit-align-items: center;
  align-items: center;
  display: flex;
  display: -ms-flexbox;
  display: -webkit-flex;
  -ms-flex-align: center;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 1rem;
}


.bg-grey {
  background-color: #ededeb;
  padding: 1rem;
  border-radius: 0.3rem;
}
