.app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.bg-grey {
  background-color: #ededeb;
  border-radius: 0.3rem;
}

.in {
  margin-top: 5px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  transition: background-color 0.1s;
}

.green {
  background-color: #ABFF00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.red {
  background-color: #F00;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
}
