.carousel {
  display: flex;
  align-items: center;
}

.chevronLeft {
  background: url('../../assets/glyphicons-225-chevron-left.png') no-repeat;
  border: none;
  width: 36px;
  height: 25px;
}

.chevronRight {
  background: url('../../assets/glyphicons-224-chevron-right.png') no-repeat;
  border: none;
  width: 36px;
  height: 22px;
}
