time {
  font-size: 10rem;
}

.flex_center {
  display: flex;
  justify-content: center;
}

.carousel {
  display: flex;
  align-items: center;
}
.chevron {
  border: none;
  outline: none;
  padding: 0 15px;
  background: none;
  font-size: 50px;
  color: #dcdcdc;
}