.dropdown {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
}

.dropdown.open {
  border-top-color: #666;
}

.alert {
  color: #e85600;
  font-weight: bold;
}

.alertsymbol.alert {
  background-image: url('../../assets/glyphicons-505-alert.png');
  background-repeat: no-repeat;
  background-position: center;
  min-height: 22px;
  min-width: 22px;
  animation-name: shake-horizontal;
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 2;
}

@keyframes shake-horizontal {
  25% {
    transform: translate(2px, 0);
  }
  75% {
    transform: translate(-2px, 0);
  }
}
