.toast {
  background: #efefef;
  border: .1rem solid #eaeaea;
  border-radius: .3rem;
  color: #666;
  /*
  padding: 1.4rem;
  display: block;
  width: 100%; */
}
.toast.toast-danger {
  background: #e85600;
  border-color: #de5200;
  color: #fff;
}
.toast.toast-danger a {
  color: #fff;
}
.toast.toast-danger a:hover,
.toast.toast-danger a:focus,
.toast.toast-danger a:active {
  opacity: .75;
}

